.nav {
  display: flex;
  gap: 16px;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: #64748b;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #4f46e5;
  background-color: #f1f5f9;
}

:global(.active) {
  color: #4f46e5 !important;
  background-color: #f1f5f9;
}